<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.cart.CartMapper">
    <select id="getUserIdByUsername" resultType="java.lang.Integer">
        select id
        from cskaoayan_mall_user
        where username=#{username}
    </select>

    <select id="getGoodById" resultType="com.cskaoyan.bean.wx.cart.GoodInCart">
        select g.goods_id, g.goods_sn, g.goods_name, gp.price, gp.id as productId,
        gp.price,gp.specifications,g.pic_url
        from cskaoyan_mall_goods g
        left join cskaoyan_mall_goods_product gp on g.goods_id = gp.goods_id
        where g.goods_id = #{goodsId}

    </select>

    <insert id="insertCart">
        insert into cskaoyan_mall_cart
        (user_id,goods_id, goods_sn, gooods_name,product_id,price, `number`, specifications,checked,pic_url,
        add_time,update_time,deleted)
        values (#{userId},#{goodsId},#{goodsSn},#{goodsName},#{productId},#{price},#{number},#{specifications},
        #{checked},#{picUrl},#{addTime}#{updateTime},#{deleted})
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT  LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="goodCount">
        select sum(`number`) from cskaoyan_mall_cart
    </select>

    <select id="getGoods" resultType="com.cskaoyan.bean.wx.cart.GoodInCart">
    select
         user_id as userId,goods_id as goodsId,goods_sn as goodsSn,goods_name as goodsName,
         product_id as productId,price,number,specifications,
         checked,pic_url as picUrl,add_time as addTime,update_time as updateTime,deleted
    from cskaoyan_mall_cart
    where user_id = #{userId}
    </select>

    <select id="getCheckedGoodsAmount" resultType="java.lang.Double">
        select ifnull(sum(price), 0) from cskaoyan_mall_cart where checked = 1 and user_id = #{userID}
    </select>
    <select id="getGoodsAmount" resultType="java.lang.Double">
        select ifnull(sum(price), 0) from cskaoyan_mall_cart where checked = 0 and user_id = #{userId}
    </select>

    <select id="getCheckedGoodsCount" resultType="java.lang.Integer">
        select ifnull(sum(number), 0) from cskaoyan_mall_cart where checked = 1 and user_id = #{userId}
    </select>
    <select id="getGoodsCount" resultType="java.lang.Integer">
        select ifnull(sum(number ), 0) from cskaoyan_mall_cart where checked = 0 and user_id = #{userId}
    </select>

    <update id="setProductIsChecked">
        update cskaoyan_mall_cart
        set checked = #{ischecked}
        where product_id in
        <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
            #{productId}
        </foreach>
    </update>

    <delete id="deleteProduct">
        delete from cskaoyan_mall_cart
        where product_id in
        <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
            #{productId}
        </foreach>
    </delete>

    <select id="getCoupon" resultType="com.cskaoyan.bean.admin.spread.MallCoupon">
        select discount
        from cskaoyan_mall_coupon coupon
        left join cskaoyan_mall_coupon_user cu on cu.id = coupon.id
        where cu.user_id = #{userId} and cu.id = #{couponId}
    </select>


    <select id="getgoodByCartId" resultType="com.cskaoyan.bean.wx.cart.GoodInCart">
        select  user_id as userId,goods_id as goodsId,goods_sn as goodsSn,goods_name as goodsName,
         product_id as productId,price,number,specifications,
         checked,pic_url as picUrl,add_time as addTime,update_time as updateTime,deleted
        from cskaoyan_mall_cart
        where id = #{cartId}
    </select>

    <select id="getCouponList" resultType="com.cskaoyan.bean.admin.spread.MallCoupon">
        select id, name, `desc`, tag, total, discount, min, limit, type, status, goods_type, goods_value,
        code, time_type, days, start_time, end_time, add_time, update_time, deleted
        from cskaoyan_mall_coupon
    </select>
</mapper>