
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
src/main/resources/application.properties
src/main/resources/application.yml
.gitignore

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.mvn/wrapper/maven-wrapper.properties
cskaoyan-admin/.babelrc
cskaoyan-admin/.editorconfig
cskaoyan-admin/.eslintignore
cskaoyan-admin/.eslintrc.js
cskaoyan-admin/.postcssrc.js
cskaoyan-admin/.travis.yml
cskaoyan-admin/config/
cskaoyan-admin/favicon.ico
cskaoyan-admin/index.html
cskaoyan-admin/package.json
cskaoyan-admin/src/
cskaoyan-admin/static/
exclude/
