<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--需要将命名空间改造成对应接口的全类名-->
<mapper namespace="com.cskaoyan.mapper.userManage.FootMarkMapper">
    <resultMap id="footMapper" type="com.cskaoyan.bean.admin.userManage.FootMark">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <!--查询所有会员足迹-->
    <select id="queryFootMark" resultMap="footMapper">
        select
            id,
            user_id,
            goods_id,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_footprint
    </select>

    <!--通过商品id进行查询-->
    <select id="queryFootMarkByGoodsId" resultMap="footMapper">
        select
            id,
            user_id,
            goods_id,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_footprint
        where goods_id = #{goodsId}
    </select>

    <!--通过用户id进行查询-->
    <select id="queryFootMarkByUserId" resultMap="footMapper">
        select
            id,
            user_id,
            goods_id,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_footprint
        where user_id = #{userId}
    </select>

    <!--通过用户id和商品id进行查询-->
    <select id="queryFootMarkByUserIdAndGoodsId" resultMap="footMapper">
        select
            id,
            user_id,
            goods_id,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_footprint
        where user_id = #{userId} and goods_id = #{goodsId}
    </select>
</mapper>