<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--需要将命名空间改造成对应接口的全类名-->
<mapper namespace="com.cskaoyan.mapper.userManage.SearchHistoryMapper">
    <resultMap id="searchHistoryMapper" type="com.cskaoyan.bean.admin.userManage.SearchHistory">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="keyword" column="keyword"/>
        <result property="from" column="from"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>
    <!--查询所有搜索历史-->
    <select id="querySearchHistory" resultMap="searchHistoryMapper">
        select
            id,
            user_id,
            keyword,
            `from`,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_search_history
    </select>

    <!--通过关键字查询搜索历史-->
    <select id="querySearchHistoryByKeyword" resultMap="searchHistoryMapper">
        select
            id,
            user_id,
            keyword,
            `from`,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_search_history
        where keyword like #{keyword}
    </select>

    <!--通过用户id查询全部搜索历史-->
    <select id="querySearchHistoryByUserId" resultMap="searchHistoryMapper">
        select
            id,
            user_id,
            keyword,
            `from`,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_search_history
        where user_id = #{userId}
    </select>

    <!--通过用户id和关键字查询全部搜索历史-->
    <select id="querySearchHistoryByUserIdAndKeyword" resultMap="searchHistoryMapper">
        select
            id,
            user_id,
            keyword,
            `from`,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_search_history
        where user_id = #{userId} and keyword like #{keyword}
    </select>
</mapper>