<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--需要将命名空间改造成对应接口的全类名-->
<mapper namespace="com.cskaoyan.mapper.userManage.VipCollectMapper">
    <resultMap id="collectMapper" type="com.cskaoyan.bean.admin.userManage.VipCollect">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="valueId" column="value_id"/>
        <result property="type" column="type"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <!--查询全部-->
    <select id="queryVipCollect" resultMap="collectMapper">
        select
            id,
            user_id,
            value_id,
            type,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_collect
    </select>

    <!--通过商品id进行查询-->
    <select id="queryVipCollectByValueId" resultMap="collectMapper">
        select
            id,
            user_id,
            value_id,
            type,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_collect
        where value_id = #{valueId}
    </select>

    <!--通过用户id进行查询-->
    <select id="queryVipCollectByUserId" resultMap="collectMapper">
        select
            id,
            user_id,
            value_id,
            type,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_collect
        where user_id = #{userId}
    </select>

    <!--通过用户id和商品id进行查询-->
    <select id="queryVipCollectByUserIdAndValueId" resultMap="collectMapper">
        select
            id,
            user_id,
            value_id,
            type,
            add_time,
            update_time,
            deleted
        from cskaoyan_mall_collect
        where value_id = #{valueId} and user_id = #{userId}
    </select>
</mapper>